# GENERAL:
docs/
**/.DS_Store
**/.idea/

# BACKEND:
# Exclude Bruno (like a local-only Postman) API testing requests. TODO: Reevaluate this decision.
/backend/bruno-collection/

# INFRA:
# Exclude at runtime generated redis data (e.g., snapshot.rdb)
/infra/redis/data/