# GENERAL:
# Exclude the docs/ outlining the courses requirements
docs/
# Exclude Mac specific files and .idea
**/.DS_Store
**/.idea/

# BACKEND:
# Exclude backend tests folder, in fact just Bruno (like a local-only Postman) for testing API requests. TODO: Reevaluate this decision.
services/backend/tests/
