:root {
  /* Default font with optional system fallback */
  /* For available font-weights and font-styles, see: https://fonts.google.com/specimen/Roboto */
  --primary-font: Roboto, Helvetica, Arial, sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Colors as defined by the "sakura theme" */
  --fg-strong: #A67285;
  --fg-light: #F2A7CA;
  --base-black: #010D00;
  --bg-strong: #D9CBBA;
  --bg-light: #F2E5D5;

  /* Vite defaults */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Note that properties like box-sizing, margin, padding (positioning), borders, width, etc.
are NOT inherited by default, therefore this is necessary */
*,
*::before,
*::after {
  /* Makes it so that padding and border are part of the width and height calculation of the box model */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-bold);
  font-style: normal;
}

h3 {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-medium);
  font-style: normal;
}
