.notesGridContainer {
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    background-color: var(--bg-medium);
    padding: 16px;
    border-radius: 16px;
}
@media (max-width: 1300px) {
    .notesGridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 920px) {
    .notesGridContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

.notesGridItem {

}